<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872024718636-ko5ftn5lq6c06t0d7cl50s0tq233k39h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872024718636-ko5ftn5lq6c06t0d7cl50s0tq233k39h</string>
	<key>API_KEY</key>
	<string>AIzaSyDndZ-qEbGyCbY2_Fm_zAIoUJhRQgYGLw4</string>
	<key>GCM_SENDER_ID</key>
	<string>872024718636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billing</string>
	<key>PROJECT_ID</key>
	<string>billing-fd26e</string>
	<key>STORAGE_BUCKET</key>
	<string>billing-fd26e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872024718636:ios:8151d7bda0d8e0bc648089</string>
</dict>
</plist>